<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="/css/main.css">

<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i,600,600i,700,700i|IBM+Plex+Serif:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

<!-- https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css.map
https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css -->


 <!-- Start of Open Graph -->
 <meta property="og:title" content="{{ .Title }}">
 <meta property="og:type" content="article">
 <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">

 <meta property="og:description" content="{{ .Description }}">
 <meta property="og:url" content="{{ .Site.BaseURL }}">
 <meta property="og:site_name" content="{{ .Site.Title }}">
 <meta property="og:image" content="{{ .Site.BaseURL }}img/uxd_logo.png">

 <!-- End of Open Graph -->
 <!-- Start of Twitter -->
 <meta property="twitter:description" content="{{ .Description }}">
 <meta property="twitter:title" content="{{ .Title }}">
 {{ if .Params.thumbnail }}
 <meta property="twitter:image" content="{{ .Site.BaseURL }}img/uxd_logo.png">
 {{ end }}
<!-- End of Twitter -->